
// Colors
$darkest-grey: #141414;
$darker-grey: #1f1f1f;
$mid-dark-grey: #292929;
$dark-grey: #3d3d3d;
$medium-grey: #666;
$grey: #888888;
$red: #a81f0d;
$purple: #581b81;
$off-white: #f7f7f7;
$off-white2: #f7f7f7de;

// Font Size
$font-size-xxxl: 3.8rem;
$font-size-xxl: 2.8rem;
$font-size-xl: 2.2rem;
$font-size-large: 1.8rem;
$font-size-medium: 1.6rem;
$font-size-small: 1.4rem;

// Spacing
$xs-size: 0.6rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$n-size: 2.4rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;